<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://invoice.paybox.ge/" target="_blank">OPPA</a> building payment systems for the web with some awesome people. Before my work as a <a class="underline-link" href="https://www.upwork.com/freelancers/~01a31c1292cb664832" target="_blank">freelance engineer at UpWork</a>, I graduated from
      <a class="underline-link" href="https://freeuni.edu.ge/en" target="_blank">Free University</a>.
    </p>

    <p>
      As a full-stack engineer, I enjoy bridging the gap between ideas to marketable products, combining my technical knowledge
      with my experience to create a useful applications. My goal is to build applications that are useful to the customer and the business objective at hand, everything else is secondary.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably working out, reading sci-fi novels, browsing music, or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
