---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->

<ul class="posts-list list-unstyled" role="list">
  {% for post in posts %}
  <li class="post-preview">
    <!--
    <article>
      ...existing code for thumbnails, subtitles, tags, etc...
    </article>
    -->
    <div class="mb-6 md:mb-[48px] align-baseline">
      <div class="text-xl md:grid md:grid-cols-[1fr_auto] md:items-baseline md:gap-4">
        <div>
          <h2 class="font-normal m-0 mr-1.5">
            <a href="{{ post.url | absolute_url }}" class="hover:text-accent">{{ post.title | strip_html }}</a>
          </h2>
        </div>
        <div class="text-left md:text-end mt-1 md:mt-0 md:flex-shrink-0">
          <span class="text-[10px] text-gray font-semibold article-date whitespace-nowrap">
            {{ post.date | date: "%b %e, %Y" | upcase }}
          </span>
        </div>
      </div>
      <p class="mt-1 md:mt-2 not-prose">
        {{ post.excerpt | strip_html }}
      </p>
    </div>
  </li>
  {% endfor %}
</ul>

<!-- {% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <i class="fas fa-arrow-left" alt="Newer Posts"></i>
      <span class="d-none d-sm-inline-block">Newer Posts</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Older Posts</span>
      <i class="fas fa-arrow-right" alt="Older Posts"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %} -->
